@using TaskManager.Models
@model CarpetaM
@{
    ViewBag.Title = "Modificar";
}
<div class="container">
    <h2>Modificar Carpeta</h2>

    @using (Html.BeginForm("Modificar", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.HiddenFor(m => m.IdCarpeta)

        @Html.Partial("_Detalle", Model);

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Modificar" class="btn btn-primary" />
            </div>
        </div>

    }
</div>