
<div class="jumbotron">
    <div class="container">

        <p class="text-center">Task Manager es la manera gratuita, flexible y visual de organizarlo todo con cualquiera.<p class="text-center">
        <p class="text-center">
            Deje a un lado las largas cadenas de correos electrónicos, las hojas de cálculo sin actualizar, las notas rápidas ya no tan adhesivas y el software inadecuado para gestionar sus proyectos. Trello le deja ver todo sobre su proyecto de un solo vistazo.
        </p>
        <p class="text-center">@Html.ActionLink("Registrarse!", "Registracion","Login", new { }, new { @class = "btn btn-info btn-lg" }) @Html.ActionLink("Iniciar Sesion!", "Login", "Login", new { }, new { @class = "btn btn-success btn-lg"})</p>
    </div>
</div>


<!-- Example row of columns -->
<div class="row">
    <div class="col-lg-4 col-lg-offset-1">
        <h2>Nuestro Panel</h2>
        <p>Task Manager es simple en la superficie, pero las tarjetas tienen todo lo necesario para hacer el trabajo. Publique comentarios para obtener respuesta inmediata. Cargue archivos desde su ordenador, Google Drive, Dropbox, Box y OneDrive. Añada checklists, etiquetas, fechas de vencimiento y otros elementos. Con las notificaciones se puede asegurar de saber siempre cuándo sucede algo importante.</p>
        @*     <p><a class="btn btn-success" href="#">Mas Informacion »</a></p>*@
    </div>
    <div class="col-lg-7">
        <img src="~/Imagenes/pantallasVerde.png" />
    </div>

</div>




<!-- Example row of columns -->
<div class="row">
    <div class="col-lg-8">

        <img src="~/Imagenes/MultiDispositivos.png" />
    </div>
    <div class="col-lg-4">
        <h2>Adaptabilidad</h2>
        <p>se sincroniza perfectamente en todos sus dispositivos, esté donde esté. Existen aplicaciones rápidas e intuitivas para internet, para teléfonos y tabletas Android, iPhone y iPad. </p>
        @*     <p><a class="btn btn-success" href="#">Mas Informacion »</a></p>*@
    </div>

</div>



<!-- Example row of columns -->
<div class="row">
    <div class="col-lg-4 col-lg-offset-1">
        <h2>TaskManager Business Class</h2>
        <p>¿Su empresa u organización necesita controles administrativos adicionales y una potencia superior de equipo? Hemos creado Business Class para usted.</p>
        @*   <p><a class="btn btn-success" href="#">Mas Informacion »</a></p>*@
    </div>
    <div class="col-lg-7">

        <img src="~/Imagenes/taskManagerBusnisesClass.png" />
    </div>

</div>

